<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="./dist/main.css">
</head>

<body>
    <div class='app' id="app" v-cloak>
        <div class='wrap'>
            <div class='index' id="index" v-if="!currentUser">
                <div class="logo">
                    <img src="http://oys2jna3r.bkt.clouddn.com/logo2.PNG" alt="">
                    <p>Oh,我好像要记点什么事...</p>
                </div>
                <!-- <input type='radio' name='type' v-model='actionType' value='login'>登陆
            <input type='radio' name='type' v-model='actionType' >注册 -->
                <div class="navsider">
                    <a class="btn" v-bind:class="{ active: current2===0 }" @click.prevent="clogin">登陆</a>
                    <a class="btn" v-bind:class="{ active: current2===1 }" @click.prevent="csignUp">注册</a>
                    <span class="navbar" v-bind:class="{active1:current2 ===1}"></span>
                </div>

                <div class="login" v-if='actionType'>
                    <form @submit.prevent=login>
                        <input class="uname" type="text" v-model='formData.username' placeholder="用户名">
                        <input class="passw" type="password" v-model='formData.password' placeholder="密码">
                        <!-- <input type="submit" value='登陆'> -->
                        <a class="signl" @click.prevent="csignUp">没有账号,这里注册~</a>
                        <button class="actionbtn">登陆</button>
                    </form>
                </div>
                <div class="signup" v-else>
                    <form @submit.prevent=signUp>
                        <input class="uname" type="text" v-model='formData.username' placeholder="用户名">
                        <input class="passw" type="password" v-model='formData.password' placeholder="密码">
                        <!-- <input type="submit" value='注册'> -->
                        <button class="actionbtn">注册</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="content" v-if="currentUser">
            <div class='welcome'>
                <div class="wordtime"> Hello,{{this.formData.username}}~ </div>
                <!-- <span class="time">{{this.formData.date}}</span> -->
                <button @click.prevent="loginout">登出</button>
            </div>

            <div class="newTask">
                <input type="text" v-model="newtodo" @keypress.enter="addTodo">
                <button @click.prevent="addTodo">添加</button>
            </div>
             <!--  -->
            <ul class="todos">
                <li v-for="todo in todoList">
                    <input type="checkbox" v-model='todo.done'>
                    <div class="howtime">{{todo.createdAt}}</div>
                    <span class="content">{{todo.title}}</span>
                    <span class="isover active2" v-if="todo.done">已完成</span>
                    <span class="isover" v-else>未完成</span>
                    <button @click='removeTodo(this.todo)'>移除</button>
                </li>

            </ul>
        </div>

    </div>
    <script src="./dist/main.bundle.js"></script>

    <!-- <script src="https://unpkg.com/vue"></script>
    <script>
    var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        </script> -->
</body>

</html>